
.form-input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input input{
    margin-left:5px ;
    border: 1px solid rgb(64,65, 61) ;
    font-family: 12px;
    outline: none;
    border-radius: 5px ;
    margin: 10px;
}