.jogos{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.jogos h2{
    margin-bottom: 20px;
}
.jogos-lista {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.jogos-lista li {
    flex: 1 1 calc(25% - 10px); /* Faz cada item ocupar um quarto da linha */
    margin-bottom: 10px; /* Adiciona espaço abaixo dos itens */
}
